approve-builds=true
shamefully-hoist=false
strict-peer-dependencies=false
enable-pre-post-scripts=true
public-hoist-pattern[]=electron
public-hoist-pattern[]=@electron/*
public-hoist-pattern[]=scheduler
only-built-dependencies[]=electron
only-built-dependencies[]=esbuild
only-built-dependencies[]=fs-xattr
only-built-dependencies[]=macos-alias
only-built-dependencies[]=better-sqlite3
